
<h2>Choose a Category</h2>

<%= link_to "Automobiles", new_vehicle_url %><br>
<%= link_to "Edit a vehicle", edit_vehicle_url %><br>
<%= link_to "Users Vehicles", '/vehicles' %><br>


<%= link_to "Logout", logout_path %>

