<h1>Ratings</h1>

  <h2>Select Current Vehicle to Rate</h2>

  <% current_user.vehicles.select do |vehicle| %><br>
    <%= vehicle.year %><br>

    <%= vehicle.model %><br>

    <%= vehicle.make %><br>

  <%end%><br>

<%= link_to "Logout", logout_path %>


